@import "tailwindcss";

.animated-text {
  background: linear-gradient(to right, #00FEFE, #00FEFE) no-repeat;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fillText 3s forwards;
}

@keyframes fillText {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
